@import "../../styles/global.scss";

.products-page-side {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btm-btn {
  justify-self: flex-end !important;
  margin-bottom: 5%;
}
.filter-section {
  flex: 1;
}
.filter-section__title {
  color: map-get($theme-colors, "secondary");
  text-transform: uppercase;
  font-size: 60%;
  font-weight: 600;
  margin-bottom: 5%;
}
.filter-section__filter {
}
