@import "../../styles/global.scss";

.profile-sections-nav {
  list-style: none;
  padding: 5%;
  border-right: 1px solid map-get($theme-colors, "secondary");
  li {
    color: map-get($theme-colors, "secondary");
    font-weight: 600;
    padding: 9%;
    cursor: pointer;
    font-size: 80%;
    // letter-spacing: 1px;
  }
}
.active-section {
  color: map-get($theme-colors, "dark") !important;
}
.profile-card {
  padding: 5%;
  height: 70vh;
}

@media screen and (max-width: 480px) {
  .profile-sections-nav {
    list-style: none;
    border-right: none;
    display: flex;
    border-bottom: 1px solid map-get($theme-colors, "secondary");
    li {
      flex: 1;
      font-size: 80%;
      padding: 2%;
    }
  }
}
