.card {
  border-radius: 10px;
}

.btn {
  font-weight: 600;
}
a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
.dashboard-header {
  font-size: 90%;
  font-weight: 400;
  color: map-get($theme-colors, $key: "secondary");
}
.is-clickable {
  cursor: pointer;
}
.go-back-icon {
  cursor: pointer;
}
