@import "../../styles/global.scss";

.auth-section {
  background-size: cover;
  background: map-get($theme-colors, "primary") !important;
  height: 80vh;
  position: relative;
}
.auth-section__card {
  position: absolute;
  width: 50%;
  top: 30%;
  padding: 5%;
  left: 25%;
  h3 {
    text-align: center;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 700px) {
  .auth-section__card {
    width: 70%;
    top: 30%;
    left: 15%;
  }
}
@media screen and (max-width: 500px) {
  .auth-section__card {
    width: 90%;
    top: 20%;
    left: 5%;
  }
}
