.prouct-details-section {
  padding-top: 5%;
  h3 {
    // font-weight: 600;
    text-transform: capitalize;
  }
  span {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 10%;
  }
  p {
    margin-top: 5%;
  }
  .btn {
    margin-top: 5%;
  }
}
.go-back-icon {
  font-weight: 600;
  cursor: pointer;
}
