.order-details {
  font-size: 110%;
  span {
    margin-bottom: 4%;
  }
}
.total-cost {
  font-size: 180%;
  font-weight: 600;
}

.cancle-order-btn {
  font-weight: 600 !important;
  text-align: center;
  display: block;
  margin-top: 10%;
}
